body{ margin-top:20px; margin-bottom:80px;}
 div.col-md-6.previous-page div.well.well-sm {margin-top:20px;  background: #eaeaea !important;
font-size: 24px;
color: #888;}
 div.col-md-6.next-page div.well.well-sm {margin-top:20px; background: #d9d9d9 !important;
color: #666;
font-size: 24px;}
 div.col-xs-3.col-md-3.text-center a img { min-width:100px;}
.glyphicon { margin-right:5px;}
.section-box h2 { margin-top:0px;}
.section-box h2 a { font-size:15px; }
.glyphicon-heart { color:#e74c3c;}
.glyphicon-comment { color:#27ae60;}
.separator { padding-right:5px;padding-left:5px; }
.section-box hr {display:none;} 

html body div.header span a:visited,
html body div.header div.right-float a:visited,
html body div.notice a:visited{color:#428bca;}


.index_page div.thumbnail_gallery div.col-md-4 div.thumb_title h3 a {font-size:20px;}



.thumbnail_gallery {
margin-top:25px;}


.thumbnail_gallery h3 {margin-bottom:5px;
padding:0px;}


 div.thumbnail_gallery div.col-md-4 {display:flex;
margin-bottom:20px;
background: white; 
min-height:110px;}

.thumbnail_gallery.highlight .col-md-4 {
background:#ffff9936!important;} 

.sub_thumb {  
float:left; 
}

.post-spacer {height:200px; width:20px;  }

.thumb_title { 
text-align:left;
margin-left:15px;

}
.index_page {margin-bottom:50px;}
 
 
.index_page h1 {
padding-left:15px;}

.index_page h2 {
padding-left:5px!important;
}
.thumbs_section{
padding-left:10px;
display: inline-block;
margin-top:30px;
background-image:none!important; 
}

.height {
margin-top:70px;}
.index-footer {

display: block; }







 div.row.rating-desc div.col-md-12 b a:visited {color:purple!important;}

.thumbnail_gallery {text-align:center;}
.small-title { font-size:11px;}

.index-images h3 {
margin-bottom:0px;
padding-bottom:0px;
}
.netlify {float:right; padding-right:15px; }
 
a:visited {color:purple;}
h3 {font-weight:bold;}

.notice,.header,h3 {padding:15px;padding-top:0px;}
h4 {padding:15px;padding-bottom:0px; padding-top:0px;
background-image:url(../logo.png); background-repeat:no-repeat;
padding-left:50px; background-position:15px 0px; padding-top:8px;}  
.rating-desc b {
margin-right:5px;
margin-left:3px;
color:#222;
}
.rating-desc {color:#999;}
.rating-desc a {color:#777; margin-left:3px; margin-right:3px;}
.section-box p {font-size:16px; line-height:20px; padding-top:5px; display:contents;}
.upcummies {color:green;font-weight:bold; }

body { background:#f4f4f4!important;}
.well {background:white!important; box-shadow:none; border:none;}

.notice {background:#FFFF99; padding-top:10px; padding-bottom:10px;}
.right-float{float:right;}
